// imports
@use '../abstracts/base';
@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

// buttons
.btn {
  @include mix.textStyles;
  outline: 0;
  border: 0;
  border-radius: var.$radius;
  padding: var.$inputBtnPadding;
  font-size: var.size(xxs);
}

.btn--primary {
  color: var.color(white);
  background-color: var.color(blue);
  box-shadow: 0.1rem 0.1rem 1.8rem var.color(paleBlue);
  transition: var.$mainTransition;

  @include mix.responsive(md) {
    width: 80%;
    display: block;
    margin-top: 3rem;
  }

  &:hover,
  &:focus {
    background-color: lighten(var.color(blue), 5%);
    box-shadow: 0.1rem 0.1rem 2rem var.color(paleBlue);
  }
}
